@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu&display=swap');

:root{
  --white: #fefefe;
  --black: #080808;
  --light-green: #abac7f;
  --green: #717744;
  --dark-green: #373d20;
  --red: #e31b23;
  --beige: #fff0db;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--beige);
  color: var(--black);
  letter-spacing: 0.2rem;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
body::-webkit-scrollbar{
  display: none;
}
.header,
.h1{
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
#navbar{
  position: fixed;
  height: 10.5vh;
  width: 100vw;
  z-index: 10;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;
}
#navbar nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
}
#navbar .nav-header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-decoration: none;
}
.nav-header h1{
  font-size: 2.7rem;
  text-align: center;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
}
.nav-menu{
  all: unset;
}
.bars{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  color: var(--green);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s ease transform;
}
.bars.active{
  transform: translate(-50%, -50%) rotate(90deg);
}
.menu{
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: var(--white);
  transform: translateX(100%);
  transition: 0.5s ease transform;
}
.menu.active{
  transform: translateX(0);
}
.menu ul{
  position: absolute;
  top: 3vh;
  list-style: none;
  width: 100%;
}
.background-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  color: var(--dark-green);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease opacity;
}
.background-icon.active {
  opacity: 0.1;
}
.menu ul li{
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
}
.menu ul li.active,
.menu ul li:hover{
  background-color: var(--light-green);
  color: var(--white);
}
.link{
  position: relative;
  color: var(--green);
  text-decoration: none;
  font-size: 2.5rem;
  transition: 0.3s ease color;
  z-index: 3;
}
.nav-header div {
  position: relative;
  margin: 10px;
  height: 6vh;
  width: 6vw;
  overflow: hidden;
}
.nav-header div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.desktop-link {
  all: unset;
  list-style: none;
  margin: 10px 30px;
  cursor: pointer;
  padding-bottom: 4px;
  background: rgb(171, 172, 127);
  background: linear-gradient(90deg, var(--light-green) 0%, var(--green) 40%, var(--dark-green) 95%);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.desktop-link:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.desktop-link li {
  font-size: 1.2rem;
  color: var(--green);
  font-family: 'Ubuntu', sans-serif;
}
.social-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
}
.social-icons::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-radius: 10px;
  width: 90%;
  background-color: var(--light-green);
  opacity: 0.4;
}
.social-icons h1{
  font-family: 'Dancing Script', cursive;
  color: var(--green);
  font-size: 1.7rem;
  padding: 10px 0;
}
.social-icons .icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons .icons-container div{
  margin: 10px;
  width: 30px;
  height: 30px;
}
.social-icons .icons-container div>* {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.insta{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: var(--white);
  border-radius: 7px;
}
.facebook{
  background-color: var(--white);
  border-radius: 50%;
  color: #4267B2;
}
.linkedin{
  background-color: var(--white);
  border-radius: 4px;
  color: #0072b1;
}
/* End of Navbar */

/* Home Page*/
#home{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow-y: hidden;
}
#home .top{
  position: relative;
  top: 10vh;
  width: 100%;
}
.top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  opacity: 0.75;
  z-index: 1;
}
.top .img-container{
  position: relative;
  height: 350px;
  width: 100%;
  overflow-x: hidden;
}
.top img{
  position: absolute;
  display: block;
  height: 350px;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease transform, 0.3s ease opacity;
}
img.left{
  transform: translateX(-100%);
}
img.right{
  transform: translateX(100%);
}
img.center{
  transform: translateX(0);
  opacity: 1;
}
.top h1{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: auto;
  font-weight: 400;
  color: var(--white);
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
  z-index: 3;
}
.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.searchbar-form{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 275px;
  height: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchbar-form label{
  position: absolute;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--green);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.searchbar-form input{
  all: unset;
  position: absolute;
  padding: 10px;
  height: 20px;
  margin-left: 30px;
}
.clear{
  position: absolute;
  right: 15px;
  color: var(--red);
  cursor: pointer;
}
.div-container{
  position: absolute;
  height: 20px;
  width: 45%;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}
.div-container>*{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: 0.3s ease background-color;
}
.div-container>.active{
  background-color: var(--white);
}
.bottom{
  position: relative;
  top: 11vh;
  height: 40vh;
}
.bottom .header{
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 400;
  color: var(--black);
}
.bottom .recipe-container{
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  height: 100%;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  margin-top: 5px;
}
.bottom .recipe-container::-webkit-scrollbar{
  display: none;
}
.single-recipe{
  position: relative;
  margin: 10px;
  margin-top: 5px;
  height: 260px;
  width: 220px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: var(--white);
}
.single-recipe-container{
  text-decoration: none;
  color: var(--black);
}
.single-recipe img{
  min-height: 55%;
  height: 55%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.single-recipe .info{
  padding: 5px 10px;
}
.single-recipe .info h1 {
  text-align: start;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.single-recipe .info h1:hover{
  text-decoration: underline;
}
.info .recipe-info{
  padding-top: 8px;
  font-size: 0.7rem;
}
.recipe-info p{
  display: flex;
  align-items: center;
}
.recipe-info p span{
  padding-left: 8px;
}
.like{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 7px;
  height: 35px;
  width: 35px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease background-color;
}
.like>*{
  position: absolute;
  font-size: 1.3rem;
  color: var(--black);
  transition: 0.2s ease color;
  transform: scale(0);
  transition: 0.2s ease transform;
}
.like.active{
  background-color: var(--red);
}
.like>*.active{
  transform: scale(1);
}
.heart{
  color: var(--red);
}
.healthy{
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 0.7rem;
  padding: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* End of Home Page*/

/* Single Recipe Information Page */
#recipe-info{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#recipe-info .container{
  position: absolute;
  top: 10vh;
  height: 100%;
  width: 95%;
  margin: 10px 0;
  margin-bottom: 30px;
}
#recipe-info h1{
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
  margin: 10px 0;
}
#recipe-info .image{
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info h1{
  padding: 10px;
}
.info .info-container{
  width: 100%;
  /* height: max-content; */
  text-align: left;
  padding: 10px;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  margin: 15px 0;
}
.info .header{
  padding: 5px 0;
  font-family: 'Dancing Script', cursive;
  color: var(--green);
  font-size: 1.8rem;
  text-align: center;
}
.check{
  color: var(--light-green);
  font-size: 0.7rem;
}
.info .info-container li{
  margin: 10px 0;
  margin-left: 5px;
  list-style: none;
  margin-bottom: 20px;
}
.info .info-container li:last-child{
  margin-bottom: 10px;
}
.info-container li h3{
  font-size: 1rem;
  padding-bottom: 10px;
  margin-left: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.info-container li span::after{
  content: ', ';
}
.info-container li span:last-child::after{
  content: '.';
}
.info-container li small{
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}
#recipe-info .btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin: 10px 0;
}
#recipe-info .btn{
  margin: 10px;
}
/* End of Single Recipe Information Page */

/* Search Page */
#search{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
#search::-webkit-scrollbar{
  display: none;
}
.searchbar-container{
  position: relative;
  top: 10vh;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-results{
  position: absolute;
  top: calc(10% + 100px);
  width: 100%;
}
.search-results .header{
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 10px;
}
.results-container{
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(1, max-content);
  justify-content: center;
}
/* End of Search Page */

/* Loading Spinner */
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid var(--light-green);
  border-top: 7px solid var(--green);
  animation: spin 1.5s infinite linear; 
}
@keyframes spin {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* End of Loading Spinner */

/* Error Page */
#error{
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 10vh;
}
#error .error-container{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.error-container h1{
  font-size: 6rem;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
  margin: 20px;
}
.error-container h2{
  font-size: 1.3rem;
  margin: 10px;
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
}
.error-container p{
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}
.btn{
  all: unset;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 20px;
  color: var(--green);
  cursor: pointer;
  border: 3px solid var(--green);
  transition: 0.3s ease background-color, 0.3s ease color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.btn:hover{
  color: var(--white);
  background-color: var(--green);
}
/* End of Error Page */

/* About Page */
#about{
  position: relative;
  height: 100vh;
  width: 100vw;
}
#about div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
}
#about div h1{
  font-size: 4rem;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
  margin: 20px;
  border-bottom: 3px solid var(--green);
}
#about div p{
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}
#about article{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 110px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#about article::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-radius: 10px;
  width: 90%;
  background-color: var(--light-green);
  opacity: 0.4;
}
#about article h1{
  font-family: 'Dancing Script', cursive;
  color: var(--green);
  font-size: 1.7rem;
  height: max-content;
  text-decoration: none;
  margin-top: 10px;
}
#about .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}
#about .icons>*{
  margin: 10px;
  font-size: 1.5rem;
}
/* End of About Page */

/* Favorites Page */
#favorites{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
#favorites .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  width: 100%;
}
#favorites .header{
  width: 100%;
  margin: 30px;
  margin-bottom: 10px;
}
#favorites .header h1{
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
}
.favorites-recipe{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: var(--white);
  width: 100vw;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  height: 20vh;
  overflow: hidden;
}
.favorites-recipe .img-container{
  width: 60%;
  height: 100%;
}
.favorites-recipe img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.favorites-recipe .info{
  width: 55%;
  padding: 20px;
  padding-top: 0;
}
.favorites-recipe-info p{
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}
.favorites-recipe-info p span{
  padding-left: 10px;
}
.favorites-recipe a{
  all: unset;
  cursor: pointer;
}
.favorites-recipe a h1{
  padding: 10px 0;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
}
.favorites-recipe a h1:hover{
  text-decoration: underline;
}
.favorites-recipe .like{
  left: 5px;
}
.no-recipes{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.no-recipes h2{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}
/* End of Favorites Page */

/* Recipes Page */
#recipes{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#recipes .container{
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 30px 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#recipes .header{
  text-align: center;
  margin: 10px;
  margin-top: 0;
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
}
.category-container{
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  margin-bottom: 20px;
  grid-gap: 10px;
  width: 95vw;
}
.category{
  position: relative;
  width: 47vw;
  height: 20vh;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  overflow: hidden;
}
.category::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  opacity: 0.75;
  z-index: 1;
  pointer-events: none;
}
.category h1{
  position: absolute;
  text-align: center;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  z-index: 2;
  font-weight: 400;
  font-size: 1.7rem;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
  pointer-events: none;
}
.category img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease transform;
}
.category:hover img{
  transform: scale(1.05);
}
/* End of Recipes Page */

/* Category Display Page */
#category-display{
  position: relative;
  height: 100vh;
  width: 100vw;
}
#category-display .search-results{
  position: absolute;
  top: 10vh;
  width: 100%;
  margin: 30px 0;
}
#category-display .header{
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--black);
  margin: 5px;
  margin-top: 0;
}
/* End of Category Display Page */

/* Media Query for Tablets */
@media only screen and (min-width: 768px) {
  /* Navbar */
  #navbar{
    height: 12vh;
  }
  #navbar nav{
    padding: 0 40px;
  }
  .nav-header h1{
    font-size: 3.5rem;
  }
  .bars{
    font-size: 2rem;
  }
  .menu{
    height: 89vh;
  }
  .menu ul{
    top: 5vh;
  }
  .background-icon {
    font-size: 11rem;
  }
  .link{
    font-size: 3rem;
  }
  .social-icons{
    height: 18vh;
  }
  .social-icons h1{
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .social-icons .icons-container div{
    margin: 15px;
    margin-top: 5px;
    width: 35px;
    height: 35px;
  }
  /* End of Navbar */

  /* Home Page*/
  #home .top{
    top: 12vh;
  }
  .top h1{
    left: 30%;
    max-width: 300px;
    font-size: 2.5rem;
  }
  .div-container{
    top: 91%;
  }
  .div-container>*{
    border: 2px solid var(--white);
  }
  .bottom .header{
    margin-top: 15px;
  }
  .single-recipe{
    width: 230px;
    height: 260px;
  }
  .single-recipe .info h1 {
    font-size: 0.87rem;
  }
  .info .recipe-info{
    font-size: 0.75rem;
  }
  .recipe-info p span{
    padding-left: 10px;
  }
  .healthy{
    top: 10px;
    font-size: 0.8rem;
    padding: 5px;
  }
  /* End of Home Page*/

  /* Single Recipe Information Page */
  #recipe-info .container{
    top: 11vh;
    width: 85%;
  }
  #recipe-info h1{
    font-size: 2rem;
    padding: 20px 5px;
  }
  .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .info .info-container{
    margin: 20px 0;
  }
  .info .header{
    font-size: 2rem;
  }
  .check{
    font-size: 0.9rem;
  }
  .info .info-container li{
    font-size: 1.1rem;
  }
  .info-container li h3{
    font-size: 1.1rem;
  }
  .info-container li small{
    font-size: 1.1rem;
  }
  /* End of Single Recipe Information Page */

  /* Search Page */
  .searchbar-container{
    top: 12vh;
  }
  .search-results{
    top: calc(12% + 100px);
  }
  .search-results .header{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .results-container{
    grid-template-columns: repeat(3, max-content);
  }
  /* End of Search Page */

  /* Loading Spinner */
  .spinner{
    width: 65px;
    height: 65px;
    border: 8px solid var(--light-green);
    border-top: 8px solid var(--green);
  }
  /* End of Loading Spinner */

  /* Error Page */
  #error{
    top: 13vh;
  }
  .error-container h1{
    margin: 30px;
  }
  .error-container h2{
    font-size: 2rem;
  }
  .error-container p{
    font-size: 1.1rem;
  }
  .btn{
    font-size: 1.2rem;
  }
  /* End of Error Page */

  /* About Page */
  #about div h1{
    font-size: 4rem;
  }
  #about div p{
    font-size: 1.1rem;
  }
  /* End of About Page */

  /* Favorites Page */
  #favorites .container {
    top: 12vh;
  }
  #favorites .header {
    margin: 25px;
    margin-bottom: 0;
  }
  #favorites .header h1 {
    font-size: 2.5rem;
  }
  .favorites-recipe {
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    height: 22vh;
  }
  .favorites-recipe .img-container {
    width: 45%;
  }
  .favorites-recipe .info {
    width: 55%;
  }
  .favorites-recipe-info p {
    font-size: 0.9rem;
  }
  .favorites-recipe-info p span{
    padding-left: 10px;
  }
  .favorites-recipe a h1 {
    font-size: 1.1rem;
  }
  /* End of Favorites Page */

  /* Recipes Page */
  #recipes .header{
    font-size: 3rem;
    margin: 20px;
  }
  .category-container{
    grid-gap: 15px;
  }
  .category{
    position: relative;
    width: 43vw;
    height: 25vh;
  }
  .category h1{
    font-size: 2.5rem;
  }
  /* End of Recipes Page */

  /* Category Display Page */
  #category-display .search-results{
    position: absolute;
    top: 13vh;
    width: 100%;
    margin: 10px 0;
  }
  #category-display .header{
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  /* End of Category Display Page */
}
/* End of Media Query for Tablets */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) and (min-height: 750px){
  /* Navbar */
  #navbar {
    height: 8vh;
  }
  #navbar nav{
    position: relative;
    justify-content: center;
  }
  #navbar .nav-header{
    left: 20%;
  }
  /* End of Navbar */

  /* Home Page*/
  #home .top{
    top: 10vh;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .top .img-container{
    height: 365px;
  }
  .top img{
    height: 365px;
  }
  .top h1{
    top: 25%;
    left: 50%;
    font-size: 2.5rem;
    text-align: center;
  }
  .div-container{
    width: 25%;
    top: 90%;
  }
  .div-container>*{
    height: 10px;
    width: 10px;
  }
  .bottom{
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom .header{
    margin: 0;
    margin-left: 30px;
  }
  .info .recipe-info{
    padding-top: 8px;
    font-size: 0.7rem;
  }
  .recipe-info p span{
    padding-left: 8px;
  }
  .healthy{
    font-size: 0.8rem;
  }
  /* End of Home Page*/

  /* Single Recipe Information Page */
  #recipe-info .container{
    top: 7vh;
    width: 65%;
    height: max-content;
  }
  #recipe-info h1{
    font-size: 2.5rem;
    padding: 15px 5px;
  }
  #recipe-info .image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: 400px;
  }
  .contain{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
  }
  .contain .basic{
    width: 490px;
  }
  .info .info-container{
    margin: 15px 0;
  }
  .info .header{
    font-size: 2rem;
  }
  #recipe-info .btn-container{
    flex-direction: row;
    height: 120px;
  }
  /* End of Single Recipe Information Page */

  /* Search Page */
  .searchbar-container{
    top: 9vh;
  }
  .search-results{
    top: calc(9% + 100px);
  }
  .search-results .header{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .results-container{
    grid-template-columns: repeat(4, max-content);
  }
  /* End of Search Page */

  /* Error Page */
  .btn{
    font-size: 1rem;
  }
  /* End of Error Page */

  /* Favorites Page */
  #favorites .container {
    top: 8vh;
  }
  #favorites .header {
    margin-bottom: 10px;
  }
  .favorites{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .favorites-recipe {
    border: 2px solid var(--black);
    width: 700px;
    margin: 15px 0;
  }
  .favorites-recipe:last-child{
    margin-bottom: 40px;
  }
  /* End of Favorites Page */

  /* Recipes Page */
  #recipes .container{
    top: 8vh;
    margin: 20px 0;
  }
  #recipes .header{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .category-container{
    grid-template-columns: repeat(3, max-content);
    grid-gap: 15px;
  }
  .category{
    width: 20vw;
    height: 20vh;
  }
  .category h1{
    font-size: 2rem;
  }
  /* End of Recipes Page */

  /* Category Display Page */
  #category-display .search-results{
    top: 9vh;
  }
  /* End of Category Display Page */
}
/* End of Media Query for Desktop */