@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root{
  --white: #fefefe;
  --black: #080808;
  --light-green: #abac7f;
  --green: #717744;
  --dark-green: #373d20;
  --red: #e31b23;
  --beige: #fff0db;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--beige);
  color: var(--black);
  letter-spacing: 0.2rem;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
body::-webkit-scrollbar{
  display: none;
}

/* Navbar */
#navbar{
  position: fixed;
  height: 10.5vh;
  width: 100vw;
  z-index: 10;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;
}
#navbar nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 40px;
}
#navbar .nav-header{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-decoration: none;
}
.nav-header h1{
  font-size: 2.7rem;
  text-align: center;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
}
.nav-menu{
  all: unset;
}
.bars{
  position: relative;
  color: var(--green);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s ease transform;
}
.bars.active{
  transform: rotate(90deg);
}
.menu{
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: var(--white);
  transform: translateX(100%);
  transition: 0.5s ease transform;
}
.menu.active{
  transform: translateX(0);
}
.menu ul{
  position: absolute;
  top: 3vh;
  list-style: none;
  width: 100%;
}
.background-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  color: var(--dark-green);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease opacity;
}
.background-icon.active {
  opacity: 0.1;
}
.menu ul li{
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
}
.menu ul li.active,
.menu ul li:hover{
  background-color: var(--light-green);
  color: var(--white);
}
.link{
  position: relative;
  color: var(--green);
  text-decoration: none;
  font-size: 2.5rem;
  transition: 0.3s ease color;
  z-index: 3;
}
.social-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
}
.social-icons::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-radius: 10px;
  width: 90%;
  background-color: var(--light-green);
  opacity: 0.4;
}
.social-icons h1{
  font-family: 'Dancing Script', cursive;
  color: var(--green);
  font-size: 1.7rem;
  padding: 10px 0;
}
.social-icons .icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons .icons-container div{
  margin: 10px;
  width: 30px;
  height: 30px;
}
.social-icons .icons-container div>* {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.insta{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: var(--white);
  border-radius: 7px;
}
.facebook{
  background-color: var(--white);
  border-radius: 50%;
  color: #4267B2;
}
.linkedin{
  background-color: var(--white);
  border-radius: 4px;
  color: #0072b1;
}
/* End of Navbar */

/* Home Page*/
#home{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#home .top{
  position: relative;
  top: 10vh;
  width: 100%;
}
.top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  opacity: 0.75;
  z-index: 1;
}
.top .img-container{
  position: relative;
  height: 350px;
  width: 100%;
}
.top img{
  position: absolute;
  display: block;
  height: 350px;
  width: 100%;
  object-fit: fill;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease transform, 0.3s ease opacity;
}
img.left{
  transform: translateX(-100%);
}
img.right{
  transform: translateX(100%);
}
img.center{
  transform: translateX(0);
  opacity: 1;
}
.top h1{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: auto;
  font-weight: 400;
  font-size: 2rem;
  color: var(--white);
  text-transform: capitalize;
  z-index: 3;
}
.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.searchbar-form{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 275px;
  height: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchbar-form label{
  position: absolute;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--green);
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.searchbar-form input{
  all: unset;
  position: absolute;
  padding: 10px;
  height: 20px;
}
.div-container{
  position: absolute;
  height: 20px;
  width: 30%;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}
.div-container>*{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: 0.3s ease background-color;
}
.div-container>.active{
  background-color: var(--white);
}
.bottom{
  position: relative;
  top: 11vh;
  height: 300px;
}
.bottom .header{
  padding: 5px;
  margin-left: 20px;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--black);
}
.bottom .recipe-container{
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  height: 100%;
  padding-left: 10px;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
}
.bottom .recipe-container::-webkit-scrollbar{
  display: none;
}
.single-recipe{
  position: relative;
  margin: 10px;
  height: 34vh;
  width: 41.5vw;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border: 1px solid var(--black);
  background-color: var(--white);
}
.single-recipe-container{
  text-decoration: none;
  color: var(--black);
}
.single-recipe img{
  height: 55%;
  width: 100%;
  object-fit: fill;
  cursor: pointer;
}
.single-recipe .info{
  padding: 5px 10px;
}
.single-recipe .info h1 {
  text-align: start;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0;
}
.single-recipe .info h1:hover{
  text-decoration: underline;
}
.info .recipe-info{
  padding-top: 8px;
  font-size: 0.7rem;
}
.recipe-info p{
  display: flex;
  align-items: center;
}
.recipe-info p span{
  padding-left: 8px;
}
.like{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 7px;
  height: 35px;
  width: 35px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease background-color;
}
.like>*{
  position: absolute;
  font-size: 1.3rem;
  color: var(--black);
  transition: 0.2s ease color;
  transform: scale(0);
  transition: 0.2s ease transform;
}
.like.active{
  background-color: var(--red);
}
.like>*.active{
  transform: scale(1);
}
.heart{
  color: var(--red);
}
.healthy{
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 0.7rem;
  padding: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* End of Home Page*/

/* Single Recipe Information Page */
#recipe-info{
  position: relative;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 0;
  top: 10vh;
  padding-bottom: 20px;
}
#recipe-info h1{
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
  padding: 15px 5px;
}
#recipe-info .image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0072b1;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info h1{
  padding: 10px;
}
.info .info-container{
  width: 100%;
  height: max-content;
  text-align: left;
  padding: 10px;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  margin: 15px 0;
}
.info .header{
  padding: 5px 0;
  font-family: 'Dancing Script', cursive;
  color: var(--green);
  font-size: 1.8rem;
  text-align: center;
}
.check{
  color: var(--light-green);
  font-size: 0.7rem;
}
.info .info-container li{
  margin: 10px 0;
  margin-left: 5px;
  list-style: none;
}
.info .info-container li{
  margin-bottom: 20px;
}
.info .info-container li:last-child{
  margin-bottom: 10px;
}
.info-container li h3{
  font-size: 1rem;
  padding-bottom: 10px;
  margin-left: 10px;
}
.info-container li span::after{
  content: ', ';
}
.info-container li span:last-child::after{
  content: '.';
}
.info-container li small{
  font-size: 1rem;
  font-weight: 700;
}
/* End of Single Recipe Information Page */

/* Search Page */
#search{
  position: relative;
  height: 100vh;
  width: 100%;
}
.searchbar-container{
  position: relative;
  top: 10vh;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-results{
  position: absolute;
  top: calc(10% + 100px);
  width: 100%;
}
.search-results .header{
  text-align: center;
  text-transform: capitalize;
}
.results-container{
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  grid-column-gap: 10px;
  padding: 10px;
}
/* End of Search Page */

/* Loading Spinner */
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid var(--light-green);
  border-top: 7px solid var(--green);
  animation: spin 1.5s infinite linear; 
}
@keyframes spin {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* End of Loading Spinner */

/* Error Page */
#error{
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 10vh;
}
#error .error-container{
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.error-container h1{
  font-size: 6rem;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
  margin: 20px;
}
.error-container h2{
  font-size: 1.3rem;
  margin: 10px;
  margin-top: 0;
}
.error-container p{
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}
.btn{
  all: unset;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 20px;
  color: var(--green);
  cursor: pointer;
  border: 3px solid var(--green);
  transition: 0.3s ease background-color, 0.3s ease color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.btn:hover{
  background-color: var(--green);
  color: var(--white);
}
/* End of Error Page */

/* About Page */
#about{
  position: relative;
  height: 100vh;
  width: 100vw;
}
#about div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
#about div h1{
  font-size: 4rem;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
  margin: 20px;
  border-bottom: 3px solid var(--green);
}
#about div p{
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}
/* End of About Page */

/* Favorites Page */
#favorites{
  position: relative;
  height: 100vh;
  width: 100vw;
}
#favorites .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  width: 100%;
}
#favorites .header{
  width: 100%;
  margin: 40px;
}
#favorites .header h1{
  text-align: center;
  font-size: 1.8rem;
  color: var(--green);
  font-family: 'Dancing Script', cursive;
}
/* End of Favorites Page */